<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <legend>{{ legend }}</legend>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    {{#if messages.msg_info}}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-check"></i> Success!</h5>
                        {{messages.msg_info}}
                    </div>
                    {{/if}}
                    {{#if messages.msg_error}}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        {{messages.msg_error}}
                    </div>
                    {{/if}}
                    <form action="/cms/dynamic-pages/giving/add" method="post" class="mb-3"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="giving-bank">Bank</label>
                            <input type="text" class="form-control w-50" id="giving-bank" name="name"
                                placeholder="BCA" required>
                        </div>
                        <div class="form-group">
                            <label for="giving-holder">Holder</label>
                            <input type="text" class="form-control w-50" id="giving-holder" name="holder"
                                placeholder="GSKI" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="giving-rek">No Rekening</label>
                            <input type="text" class="form-control w-50" id="giving-rek" name="no_rek"
                                placeholder="1234 5687" required>
                        </div>
                        {{!-- <div class="form-group">
                            <label for="section" class="form-label">Page</label> <br />
                            <select class="form-select" aria-label="Default select" name="section" id="section">
                                <option value='sunday'>Sunday School Page</option>
                                <option selected value='home'>Home Page</option>
                            </select>
                        </div> --}}
                        <div class="form-group">
                            <label for="thumbnail">QR</label>
                            <div class="input-group w-50">
                                <input type="file" id="photo" name="giving_pic" accept="image/*"
                                    placeholder="photo" required>
                            </div>
                        </div>
                        <div>
                            <button id="create-btn" type="submit" class="my-auto btn btn-primary mr-3 mb-3"><i
                                    class="fas fa-check mr-1"></i>Create</button>
                            <a class="btn btn-success" href="/cms/dynamic-pages/giving/">
                                <i class="fas fa-times"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->

<script>
    {{!-- var _URL = window.URL || window.webkitURL;
    var file, img, width, height;
    $("#photo").change(function (e) {
        if ((file = this.files[0])) {
            img = new Image();
            img.onload = function () {
                width = this.width;
                height = this.height;
                $("#width").html(width);
                $("#height").html(height);
                if (width === 299 || height === 333) {
                    $("#create-btn").removeAttr("disabled")
                } else {
                    $("#create-btn").prop("disabled", true)
                    alert("Width max 299px and heigth max 333px");
                    $("#photo").val('');
                }
            };
            img.src = _URL.createObjectURL(file);
        }
    }); --}}
</script>